@font-face {
    font-family: header;
    src: url("/assets/fonts/delight_sunset/Delight\ Sunset.ttf");
}

@font-face {
    font-family: sixcaps;
    src: url("/assets/fonts/Six_Caps/SixCaps-Regular.ttf");
}

@font-face {
    font-family:handrwriting;
    src: url("/assets/fonts/AnthoniaSignature.ttf");
}

@font-face {
    font-family:lemonmilk;
    src: url("/assets/fonts/lemon_milk/LEMONMILK-BoldItalic.otf");
}

@font-face {
    font-family:nexa;
    src: url(/assets/fonts/nexa/Nexa-Heavy.ttf);
}
@font-face {
    font-family:geo;
    src: url(/assets/fonts/geomatrix/Geomatrix\ Thin.ttf);
}
@font-face {
    font-family:akira;
    src: url(/assets/fonts/akira_expanded/Akira\ Expanded\ Demo.otf);
}

@font-face {
    font-family:strecth;
    src: url(/assets/fonts/stretch_pro/StretchPro.otf);
}
@font-face {
    font-family:redwave;
    src: url(/assets/fonts/radwave/RadwaveFont-Demo.otf);
}


#b1{
    background: linear-gradient(175deg, rgba(2, 0, 36, 1) 0%, rgba(42, 27, 61, 1) 34%, #44348d 100%);
    background-repeat: no-repeat;
    height: 2500px;
    overflow-x: hidden;

}

#fir{
    backdrop-filter: blur(5px);
    height: 100px;
}


#childheading {
    
    font-family: header;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 70px;
    text-align: center;
}

#parentytbox {
 
    display: flex;
    justify-content: center;
    align-items: center;
}

#childyt {
   
    height: 30px;
    width: 30px;
    filter:invert(100);
}

#igbox {

    display: flex;
    justify-content: center;
    align-items: center;
}

#ig {
    height: 30px;
    width: 30px;
    filter:invert(100);
}

#parentbg {
    position: relative;
    background-image: url("/assets/images/IMG_20230212_145828.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    background-position: center;
    padding: 0%;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.589));
}

#childoverlay {
    position:absolute;
    z-index:1;
    background: linear-gradient(175deg, rgba(2, 0, 36, 1) 0%, rgba(42, 27, 61, 1) 34%, rgba(68, 52, 141, 1) 100%);
    opacity: 0.3;
    height: 450px;
    width:100%;
    padding: 0;
}

#bannercontents{
    position:absolute;
    z-index:2;
    top:0px;
    height:450px;
    padding-top:50px;     
}

#logodiv{
   display: flex;
    justify-content:center;
    align-items: center; 
}
#banner {

    color: rgba(0, 0, 0, 0.973);
    filter: drop-shadow(5px 2px 1px);
    opacity: 1;
    
}
 
#designerdiv{
    display: flex;
    justify-content:center;
    align-items: center; 
}
#designer{
font-family: sixcaps;
font-size:100px;
color: rgb(255, 255, 255);
text-shadow: 5px 2px 1px black  ;
}

#developerdiv{
    display: flex;
    justify-content:center;
    align-items: center; 
    
}
#developer{
font-family: sixcaps;
font-size:100px;
color: rgb(240, 255, 255);
text-shadow: -5px 2px 1px black  ;
}

#desart1{
    height:75px;
    filter: invert(1);
    rotate: 25deg;
}

#devart1{
    height:55px;
    filter: invert(1);
    rotate: 25deg;

}

#desart2{
    height:65px;
    filter: invert(1);
    rotate: -25deg;
    margin-left: -55px;
}
#devart2{
    height:55px;
    filter: invert(1);
    rotate: 15deg;
    margin-left: -50px;

}
#desart3{
    height:65px;
    filter: invert(1);
    rotate: -25deg;
    position: relative;
    top:-85px   ;
    left:-125px;
}
#devart3{
    height:55px;
    filter: invert(1);
    rotate: 15deg;
    position: relative;
    top:-85px   ;
    left:-125px;
}

#sub{
    font-family: sixcaps;
    color:rgba(245, 245, 245, 0.596);
    text-align: center;
    font-size: 75px;
    letter-spacing: 2px;
}

#sec2{
    position: relative;
    padding-top: 25px;
    padding-bottom:25px;
}

.logos{
        position: absolute;
        padding-top:25px;
}

.sub.hidden{
    opacity:0;
    filter: blur(5px);
    transform:translateX(-100px);
    transition: all 2s;
}

.sub.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);

}
.logo.hidden{
    opacity:0;
    filter: blur(5px);
    transform:translateY(200px);
    
}

.logo.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
    transition: all .9s;
   

}


.logos{
    position: relative;
    display: flex;  
    top:0px;
}



.sha{
    color:black;
    filter: drop-shadow(5px 5px 10px);
    
}

.logo:nth-child(2){
    
    transition-delay:100ms;
}
.logo:nth-child(3){
    
    transition-delay:200ms;
}
.logo:nth-child(4){

    transition-delay:300ms;
}
.logo:nth-child(5){
    
    transition-delay:400ms;
}
.logo:nth-child(6){

    transition-delay:500ms;
}

.scroll-tracker{
    height: 0.5rem;
    inset:0 0 auto;
    position: fixed;
    background-color:#a200ff;
    z-index:1;
    transform-origin: left;

}

.circle {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    background-color: rgb(92, 92, 92); /* Adjust the color as needed */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;;
  }
  
  .circle img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }


  #dmbtn{
    font-family:lemonmilk;
    background-color: black;
    color:white;
    font-size:15px;
    text-align: center;
    cursor: pointer;
  }
  #lmbtn{
    font-family:lemonmilk;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-size:15px;
    text-align: center;
    cursor: pointer;
  }

  #prbtn{
    font-family:lemonmilk;
    background-color: rgb(58, 24, 121);
    color:rgb(255, 255, 255);
    font-size:15px;
    text-align: center;
    cursor: pointer;
  }


  #css,#ht,#js,#c,#sql{
    filter: drop-shadow(5px 5px 2px black);
    filter:blur(0px);
    transition:all 0.3s ease-in-out;
    
    
  }


  .tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.contentholder{
    position: relative;
    height: 100%;
    
}

.textcontent{
    text-shadow:1px;
    position: absolute;
    left:33px;
    font-size:25px;
    font-family:nexa;
    color:white;
    white-space:pre-line;   
    
}

#sec4{
    
    position: relative;
    width:100%;
    height:729.6px;
    filter: drop-shadow(5px 5px 5px black);
    padding-left:0px ;
    padding-right: 0px;
    
}
#backdrop{
    position: absolute;
    top:0px;
    top:50px;
    width: 100%;
    border-radius: 25px;
    

}
#subj{
    position: absolute;
    top:50px;
    left:15px;
    width: 100%;
}

#scrolltext{
    position: absolute;
    top:150px;
    
}

#txt1{
    font-family:strecth;
    font-style: italic;
    font-size:50px;
    color: #44348d00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    display: inline;
}

#txt2{
    font-family:akira;
    font-style: italic;
    font-size: 50px;
    color:white;
    display: inline;
}

#txt3{
    font-family:strecth;
    font-style: italic;
    font-size: 50px;
    color:rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    display: inline;
}
#txt4{
    font-family:akira;
    font-style: italic;
    font-size: 50px;
    color:white;
    display: inline;

}

#backdrop{
    transition: all 2s ease-in-out;
}

.poster.hidden{
    opacity:0;
    filter: blur(5px);
    transition:all .5s;
    transform: rotate3d(6, 0, 0, 60deg);
}

.poster.show{
    opacity: 1;
    filter: blur(0px);
    transform: rotate3d(0, 0, 0, 90deg);
}

#down{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

}


#printbtn{
    background-color: #ffffff;
    border-radius:25px;
    border:none;    
    padding:25px;
    height:100px;
    text-align: center;
    font-family: sixcaps;
    color:rgba(133, 0, 221, 0.596);
    font-size: 75px;
    letter-spacing: 2px;
    filter: drop-shadow(2px 2px 2px black);
}

#sec5heading{
    font-family: sixcaps;
    color:rgba(245, 245, 245, 0.596);
    text-align: center;
    font-size: 75px;
    letter-spacing: 2px;

}

.sec5.hidden{
    opacity:0;
    filter: blur(5px);
    transform:translateY(100px);
    transition: all 2s;
}

.sec5.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);

}


.worksbox.hidden{
    opacity:0;
    filter: blur(5px);
    transform:translateY(100px);
    transition: all 2s;
}

.worksbox.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);

}

.worksbox{
    position: relative;
    top:60px;
    height:500px;
    background: rgba( 139, 8, 236, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 25px;
    
}
.colbox{
   margin-top:50px;
   height: 250px;
}


.card.hidden{
    opacity:0;
    filter: blur(15px);
    transform: rotate3d(2, 1, 0, 90deg);
    transition: all 1.5s;
}
.card.show{
    opacity: 1;
    filter: blur(0px);
    transform: rotate3d(0, 0, 0, 0deg);
}
.card{
    margin-left:35px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.486));
    position: relative;
}
.card-title{
    font-family:strecth;
    height:50px;
    padding-bottom:75px;
}
.card-body{
    font-family:strecth;
}
.card-text{
    font-family: nexa;
}
