@font-face {
    font-family:header;
    src:url("/assets/fonts/delight_sunset/Delight\ Sunset.ttf");
}

#heading{
    font-family: header;
    color:rgb(255, 255, 255);
    font-weight:500;
    font-size:70px;
    text-align: center  ;
}

#ytbox{
 
    display: flex;
    justify-content: center;
    align-items: center;
}
#yt{
    height:30px;
    width:30px; 
}
#igbox{
 
    display: flex;
    justify-content: center;
    align-items: center;
}
#ig{
    height:30px;
    width:30px; 
}

#bg{
   
    background-image: url("/assets/images/IMG_20230212_145828.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:400px;
    background-position: center;
    position: absolute;
    filter: blur(1px);
}
#overlay{
    position: relative;
    z-index: 1;
    background: linear-gradient(175deg, rgba(2,0,36,1) 0%, rgba(42,27,61,1) 34%, rgba(68,52,141,1) 100%);
    opacity: 0.2;
    height:400px;
}
#dp{
    position:relative;
    top:-320px;
    padding-left:25px;  
    height:250px;
    z-index: 2;
    filter: drop-shadow(-5px 4px 7px rgb(53, 29, 85));
}
#dpbox{
        display: flex;
        justify-content:left;
        align-items: left;
}
body{

    background: linear-gradient(175deg, rgba(2,0,36,1) 0%, rgba(42,27,61,1) 34%, rgba(68,52,141,1) 100%);
    background-repeat: no-repeat;
    height:2000px;
    overflow-x: hidden;
    
}





 